#content {
	width: 290px;
	float: left;
	padding: 5px 15px;
}
#middle {
	width: 294px; /* Account for margins + border values */
	float: left;
	padding: 5px 15px;
	margin: 0px 5px 5px 5px;
}
#sidebar {
	width: 270px;
	padding: 5px 15px;
	float: left;
}

